

.about {
    display: flex;
    flex-direction: column;
}

#about-title {
    padding-inline: 25px;
    padding-block: 5px;
    border-radius: 15px;
    width: fit-content;
    background-color: pink;
    margin-inline:auto;
}

#profile-image {
    margin-inline: auto;
    width: 30vh;  
    border-radius: 50%;
    border: 5px solid pink;
}

#profile-image:hover {
 /* TODO: create hover effect for image*/
}