:root {
    --margorelle: #724CF9;
    --uranian-blue: #A9D3FF;
    --mindaro: #EDF67D;
    --persian-pink: #F896D8;
    --meadow: #d0fbff;
}

@keyframes spin {
    0% {
        transform: rotate(0deg) scale(1);
        padding: 3px;
        border-radius: 5px;
    }
    100% {
        transform: rotate(360deg) scale(1.5);
        background-color: var(--mindaro);
        padding: 3px;
        border-radius: 5px;
        box-shadow: 3px 3px rgba(0,0,0,0.5);
    }
}

@keyframes expand {
    0% {
        transform: scaleX(0);
    }
    50% {
        transform: scaleX(1);
    }

    60% {
        transform: scaleX(0.95);
    }

    70% {
        transform: scaleX(1);
    }

    100% {
        transform: scaleX(1);
    }

}

@keyframes jiggle {
    0% {
        transform: none;
    }

    25% {
        transform: skew(10deg);
    }

    50% {
        transform: skew(-7deg);
    }

    75% {
        transform: skew(5deg);
    }

    90% {
        transform: skew(-4deg);
    }

    100% {
        transform: none;
        background-color: var(--uranian-blue);
    }
}

.footer-container {
    z-index: 1;
    position: relative;
    padding-block: 0px;
    background-color: var(--margorelle);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: all;
    transition-duration: 0.3s;
}

.footer-container::after {
    position: absolute;
    content:"";
    background-color: var(--uranian-blue);
    width: 100vw;
    height: 100%;
    transform: scaleX(0);
    transition: all;
    transition-duration: 0.3s;
}

.footer-container:hover::after {
    animation: expand 0.6s 1 forwards;
}

.footer-title {
    z-index: 1;
    user-select: none;
    font-size: 1rem;
    font-weight: 400;
    color: white;
    margin-inline: 2rem;
    transition: all;
    transition-duration: 0.3s;
}

.footer-container:hover .footer-title {
    color: black;
}

#github,#linkedin,#facebook,#instagram {
    height: 25px;
    padding: 3px;
    background-color: var(--meadow);
    border-radius: 25px;
    transition: all;
    transition-duration: 0.5s;
}

.social-icon {
    z-index: 1;
    margin-inline: 25px;
}

.social-icon img:hover {
    animation: spin 0.5s 1 forwards;

}

.social-icon:active {
    transform: translateY(3px);
}

@media screen and (max-width: 670px) {
    .footer-container {
        display: block;
        margin:0;
        text-align: center;
        padding-top: 2px;
        padding-bottom: 15px;
    }

    .footer-title {
        margin-bottom: 20px;
    }

    .social-icon {
        margin-inline: 15px;
    }

    .footer-container:hover {
        animation: jiggle 0.5s 1 forwards;
    }

    .footer-container:hover::after {
        animation: none;
    }

}