/* css variables */
:root {
    --margorelle: #724CF9;
    --mindaro: #EDF67D;
    --persian-pink: #F896D8;
    --ultraviolet: #564592;
    --cadet-grey: #93ACB5;
    --uranian-blue: #A9D3FF;
    --fall: #ff7c02;
    --heliotrope: #CA7DF9;
    --neon: #FFFF00;
}

/* animations */
@keyframes underline {
    0% {
        transform: scaleX(1);
        opacity: 100%;
    }
    100% {
        transform: scaleX(4);
        opacity: 0%;
    }
}

@keyframes highlighted-right {
    0% {
        left: 120vw;
    }

    90% {
        left: -15px;
    }
    100% {
        left: 0;
    }
}

@keyframes highlighted-left {
    0% {
        left: -120vw;
    }

    90% {
        left: 15px;
    }
    100% {
        left: 0;
    }
}

/* header and navbar styling */
.header-container {
    display: flex;
    flex-direction: row;
    z-index: 2;
    position:relative;
    padding-block: 0px;
    background-color: var(--margorelle);;
    height: 6rem;
}

.header-container::after {
    position: absolute;
    z-index: -1;
    top:0;
    left:0;
    content:"";
    width: 100vw;
    height: 100%;
    box-shadow: 0px 5px 20px 35px var(--uranian-blue);
    background-color: var(--uranian-blue);
    transform: scaleY(0);
    transition: transform;
    transform-origin: top;
    transition-duration: 0.3s;
}

.header-container:hover::after {
    transform: scaleY(1);
    transform-origin: center;
}

.header-title {
    user-select: none;
    font-size: 3rem;
    font-weight: 400;
    color: white;
    margin-left: 2rem;
    margin-bottom:0;
    transition: all;
    transition-duration: 0.3s;
}

.navlink {
    padding-inline: 10px;
    padding-bottom: 25px;
    margin-right: 2vw;
    text-decoration: none;
    text-align: center;
    position:relative;
    width: 100px;
    z-index: 5;
    cursor: pointer;
    color: white;
    transition: all;
    transition-duration: 0.3s;
}

.active-right {
    position: relative;
    animation: highlighted-right 0.3s 1 forwards;
    clip-path: polygon(0% 0%, 100% 0%, 100% 45%, 70% 45%, 50% 100%, 50% 45%, 0% 45%);
    background-color: var(--neon);
    color: black;
}

.active-left {
    position: relative;
    animation: highlighted-left 0.3s 1 forwards;
    clip-path: polygon(0% 0%, 100% 0%, 100% 45%, 70% 45%, 50% 100%, 50% 45%, 0% 45%);
    background-color: var(--neon);
    color: black;
}

.header-container:hover .header-title, .navlinks-container:hover .navlink {
    color: black;
}

.navlinks-container {
    position: relative;
    width: 100vw;
    height: 2rem;
    justify-content:end;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--margorelle);
    transition: all;
    transition-duration: 0.3s;
}

.navlinks-container::after {
    z-index: 1;
    position: absolute;
    content:"";
    width:100vw;
    height: 120%;
    background: linear-gradient(180deg, var(--margorelle) 0%,var(--uranian-blue) 100%);
    box-shadow: 0px 1px 10px 10px var(--uranian-blue);
    transform: scaleY(0);
    transition: transform;
    transform-origin: bottom;
    transition-duration: 0.3s;
}

.navlinks-container:hover::after {
    transform: scaleY(1);
    transform-origin: top;
}


.navlink:hover {
    text-shadow: 1px 1px rgba(0,0,0,0.4);
    color: var(--fall) !important;
}

.navlink:active {
    color: white !important;
    text-shadow: none;
    transform:translateY(5px);
    transition: none;
}

.navlink::before {
    content: "";
    display: block;
    left: 0;
    top: 1rem;
    z-index: -1;
    background-color: white;
    position: absolute;
    width: 100px;
    height: 5px;
    border-radius: 10px;
    transform: scaleX(0);

}

.navlink:hover::before {
    animation: underline 0.3s 1;
}

/* media query for narrow viewports */
@media screen and (max-width: 860px) {
    .header-container {
        display: block;
    }

    .header-title {
        font-size: 2rem;
        text-align: center;
        padding-top: 25px;
        margin-top:0;
        margin-inline:0;
        margin-bottom: 15px;
    }

    .navlinks-container {
        justify-content: center;
        height: 1.5rem;
        margin:0;
        padding-bottom: 5px;
    }

    .navlink {
        font-size: 0.8em;
        margin-right: 0.5rem;
    }

    .active-right, .active-left {
        clip-path: polygon(0% 0%, 100% 0%, 100% 45%, 60% 45%, 50% 100%, 40% 45%, 0% 45%);
    }
    
    .header-container:hover::after {
        transform: none;
    }

    .navlink:hover::before {
        animation: none;
    }

    .navlink:active {
        transition: none;
    }

}



