:root {
    --margorelle: #724CF9;
    --mindaro: #EDF67D;
    --persian-pink: #F896D8;
    --ultraviolet: #564592;
    --cadet-grey: #93ACB5;
    --uranian-blue: #A9D3FF;
    --powder-blue: #AFBED1;
    --heliotrope: #CA7DF9;
}

@keyframes blink {
    0% {
        transform: scaleX(1);

        opacity: 100%;
    }
    100% {
        transform: scaleX(4);
        opacity: 0%;
    }
}


.header-container {
    z-index: 2;
    position:relative;
    padding-block: 0px;
    background-color: var(--margorelle);
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.header-container::after {
    position: absolute;
    z-index: -1;
    top:0;
    left:0;
    content:"";
    width: 100vw;
    height: 100%;
    box-shadow: 0px 5px 20px 10px var(--uranian-blue);
    background-color: var(--uranian-blue);
    transform: scaleY(0);
    transition: all;
    transition-duration: 0.3s;
}

.header-container:hover::after {
    transform: scaleY(1);
    transform-origin: center;
}

.header-title {
    user-select: none;
    font-size: 3rem;
    font-weight: 400;
    color: white;
    margin-left: 2rem;
    transition: all;
    transition-duration: 0.3s;
}

.navlink {
    padding-inline: 10px;
    padding-bottom: 25px;
    text-decoration: none;
    text-align: center;
    position:relative;
    width: 100px;
    z-index: 5;
    cursor: pointer;
    color: white;
    transition: all;
    transition-duration: 0.3s;
}

.active {
    clip-path: polygon(0% 0%, 100% 0%, 100% 45%, 70% 45%, 50% 100%, 50% 45%, 0% 45%);
    background-color: white;
    color: black;
}

.header-container:hover .header-title, .header-container:hover .navlink {
    color: black;
}

.navlinks-container {
    display: flex;
    flex-direction: row;
    margin-inline:auto;
    column-gap: 5vw;
    margin-right: 2rem;
}

.navlink:hover {
    text-shadow: 1px 1px rgba(0,0,0,0.4);
    color: var(--persian-pink) !important;
}

.navlink:active {
    color: var(--mindaro) !important;
    transform: translateY(3px);
    transition: none;
}

.navlink::before {
    content: "";
    display: block;
    left: 0;
    top: 1rem;
    z-index: -1;
    background-color: white;
    position: absolute;
    width: 100px;
    height: 5px;
    border-radius: 10px;
    transform: scaleX(0);

}

.navlink:hover::before {
    animation: blink 0.3s 1;
}


@media screen and (max-width: 860px) {
    .header-container {
        display: block;
    }

    .header-title {
        font-size: 2rem;
        text-align: center;
        padding-top: 25px;
        margin-top:0;
        margin-inline:0;
        margin-bottom: 15px;
    }

    .navlinks-container {
        justify-content: center;
        margin:0;
        column-gap: 1.5rem;
        padding-bottom: 30px;
    }

    .navlink {
        font-size: 0.8em;
    }

    .active {
        clip-path: polygon(0% 0%, 100% 0%, 100% 45%, 60% 45%, 50% 100%, 40% 45%, 0% 45%);
    }
    
    .header-container:hover::after {
        transform: none;
    }

    .navlink:hover::before {
        animation: none;
    }

    .navlink:active {
        color: var(--mindaro) !important;
        transform: translateY(3px);
        transition: none;
    }

}



