@keyframes turn {
    0% {
        transform: rotate(0deg) scale(1);
    }
    50% {
        transform: rotate(360deg) scale(1.1);
        box-shadow: 0 0 10px 10px rgba(0,0,0,0.4);
    }
    100% {
        transform: rotate(720deg) scale(1);
    }
}

@keyframes pulse {
    0% {
        transform: scaleX(0);
        transform-origin: left;

    }
    20% {
        transform: scaleX(1);
        transform-origin: left;
    }
    50% {
        transform: scaleX(1);
        transform-origin: right;
    }
    70% {
        transform: scaleX(0);
        transform-origin: right;
    }
    100% {
        transform: scaleX(0);
    }
}

/* about-me page styling */
.about-content {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top:0;
    user-select: none;

}

.about-content:hover img {
    animation: turn 0.5s 1 linear;
}

#about-title {
    padding-inline: 25px;
    padding-block: 5px;
    border-radius: 15px;
    width: fit-content;
    background-color: pink;
    border: 3px solid hotpink;
    margin-inline:auto;
    margin-top: 0;
    margin-bottom: 15px;
}

#profile-image {
    margin-inline: auto;
    width: 20vh;  
    border-radius: 50%;
    border: 5px solid pink;
}

.text {
    background-color: white;
    border-radius: 15px;
    padding: 25px;
    margin-top: 35px;
    box-shadow: 0 0 15px 15px white;
}

/* resume page styling */
#resume-title {
    padding-inline: 25px;
    padding-block: 5px;
    border-radius: 15px;
    width: fit-content;
    background-color: rgb(83, 195, 255);
    border: 3px solid rgb(56, 21, 255);
    margin-inline:auto;
    margin-top: 0;
    margin-bottom: 15px;
}

.list-container {
    width: 60vw;
    list-style: none;
    margin-inline: auto;
    justify-content: center;
    align-items: center;
    padding-left:0;
    padding-block: 15px;
    background-color: white;
    border-radius: 15px;
    margin-top: 75px;
    margin-bottom: 110px;
    box-shadow: 0 0 15px 15px white;
}

#download {
    z-index: 1;
    position: relative;
    text-decoration: none;
    color: black;
    padding-inline: 25px;
    padding-block: 5px;
    border: 5px solid rgb(56, 21, 255);
    border-radius: 55px;
    transition: all;
    transition-duration: 0.3s;
}

#download::after {
    z-index: -1;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left:0;
    top:0;
    border-radius: 55px;
    background-color: rgb(83, 195, 255);
}

#download:hover {

    border:5px solid rgb(56, 21, 255);
    padding-right: 37px;
    padding-left: 20px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}

#download::before {
    position: absolute;
    content: ">>";
    color: rgb(56, 21, 255);
    width: 100%;
    height: 100%;
    top: 12%;
    left: 35%;
    transform: scaleX(0);
    transition: transform;
    transition-duration: 0.3s;
}

#download:hover:before {
    transform: scaleX(1);
}

#download:active {
    position: relative;
    text-decoration: none;
    color: white;
    background-color: darkgray;
    padding-right: 37px;
    padding-left: 20px;
    border: 8px solid grey;
    border-radius: 55px;
    transition: none;
    box-shadow: none;
}

.resume-content:hover #download::after {
    animation: pulse 2s infinite linear;
}
.resume-content:hover #download {
    color:rgb(56, 21, 255);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);

}

/* portfolio page styling */
#portfolio-title {
    padding-inline: 25px;
    padding-block: 5px;
    border-radius: 15px;
    width: fit-content;
    background-color: rgb(255, 186, 83);
    border: 3px solid rgb(255, 69, 28);
    margin-inline:auto;
    margin-top: 0;
    margin-bottom: 15px;
}