:root {
    --neon: #FFFF00;
    --heliotrope: rgba(202, 125, 249, 0.9);
    --pastel-pink: rgba(234, 197, 216, 0.9);
    --zesty: rgba(254, 127, 42, 0.9);
    --periwinkle: rgba(150, 247, 202,0.9);
}

.project-container {
    z-index: -1;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background-image: url('../../public/assets/bg/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-me-container {
    position: absolute;
    text-align: center;
    box-sizing: border-box;
    padding:25px;
    width: 90vw;
    height: 70vh;
    border: 5px solid white;
    background-color: var(--pastel-pink);
    border-radius: 25px;
    transition: all;
    transition-duration: 0.3s;
}

.portfolio-container {
    position: absolute;
    text-align: center;
    box-sizing: border-box;
    padding:25px;
    width: 90vw;
    height: 70vh;
    border: 5px solid white;
    background-color: var(--zesty);
    border-radius: 25px;
    transition: all;
    transition-duration: 0.3s;
}

.contact-container {
    position: absolute;
    text-align: center;
    box-sizing: border-box;
    padding:25px;
    width: 90vw;
    height: 70vh;
    border: 5px solid white;
    background-color: var(--heliotrope);
    border-radius: 25px;
    transition: all;
    transition-duration: 0.3s;
}

.resume-container {
    position: absolute;
    text-align: center;
    box-sizing: border-box;
    padding:25px;
    width: 90vw;
    height: 70vh;
    border: 5px solid white;
    background-color: var(--periwinkle);
    border-radius: 25px;
    transition: all;
    transition-duration: 0.3s;
}

.about-me-container:hover, 
.portfolio-container:hover, 
.contact-container:hover,
.resume-container:hover {
    background-color: rgba(255, 255, 255, 0.95);
    border: 5px solid var(--neon);
    box-shadow: 0 0 15px 10px var(--neon);
}
